body {
    background-color: #00ff00;
    font-size: 24px;
}

body p {
    margin: 0px;
}

.game {
    display: flex;
    justify-content: space-evenly;
}

.lounge {
    border: 4px solid black;
    height: 176px;
}

.forest {
    border: 4px solid brown;
    height: 176px;
}

.slime {
    height: 176px;
    width: 128px;
    text-align: center;
}

.slime img {
    height: 128px;
    width: 128px;
}

.slime-balloon {
    height: 24px;
    width: 100%;
    word-break: break-all;
}

.slime-name {
    display: inline;
    color: blue;
    height: 24px;
}

